main {
    display: grid;
    grid-template-columns: auto auto auto auto ;
}

body, header, section, main, footer {
    box-sizing: border-box;
}

body {
    width: min-content;
    margin: auto;
}

.logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headline img {
    width: 500px;
    height: auto;
}

.sub-image {
    width: 270px;
    height: auto;
}

.ad {
    width: 1150px;
    height: auto;
    margin-top: 50px;
}

footer img {
    width: 250px;
    height: auto;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: space-between; /* this make the content in the header spread evenly */
    align-items: center; /* align everhting vertically center */
}

.container nav li {
    margin: 60px;
    font-weight: bold;
    display: inline;
}

.container nav {
    text-align: center;
}


a {
    text-decoration: none; /*get rid of link underline*/
    color: black;
    font-size: 20px;
}

.headline a {
    color: black;
    font-size: 16px;
}

a:hover {
    color: rgb(109, 85, 206);
}  


.headline { 
    margin-top: 50px; 
    grid-column-start: 1;
    grid-column-end: 3;
}

.sub-topic-1 {
    margin-top: 50px;
    padding-left: 50px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.sub-topic-1 h1, .sub-topic-2 h1, .sub-topic-3 h1, .sub-topic-4 h1, .sub-topic-5 h1, .sub-topic-6 h1 { 
    font-size: 20px;
}

.sub-topic-1 h1, .sub-topic-2 h1, .sub-topic-3 h1, .headline h1, .headline p {
    margin-top: 5px;
}

.sub-topic-1 p {
    padding-top: 12px;
}

.sub-topic-2 h1 {
    margin-bottom: -10px;
}

.sub-topic-2 {
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 30px;
    grid-column-start: 5;
    grid-column-end: 6;
}

main section h1 {
    width: 270px;
}

.headline p {
    box-sizing: border-box;
    float: right;
    width: 220px;
}

.headline h1, .headline p {
    display: inline-block;
}

.sub-topic-3 {
    margin-top: -192px;
    padding-left: 50px;
    grid-column-start: 3;
    grid-column-end: 4; 
}

.sub-topic-3 h1, .sub-topic-4 h1, .sub-topic-5 h1, .sub-topic-6 h1 {
    margin-bottom: -8px;
}

.sub-topic-2 hr, .sub-topic-1 hr, .sub-topic-3 hr, .sub-topic-4 hr {
    margin-top: -5px;
    margin-bottom: 0;
}

.sub-topic-5 hr, .sub-topic-6 hr {
    margin-top: -8px;
}

.headline hr {
    margin-top: 10px;
}

.sub-topic-4 {
    margin-top: -204px;
    margin-left: 20px;
    padding-left: 30px;
    grid-column-start: 5;
    grid-column-end: 6;
}

.sub-topic-5 {
    margin-top: -107px;
    padding-left: 50px;
    grid-column-start: 3;
    grid-column-end: 4; 
}

.sub-topic-6 {
    margin-top: -107px;
    margin-left: 20px;
    padding-left: 30px;
    grid-column-start: 5;
    grid-column-end: 6;
}

footer {
    height: 200px;
    /* background-color: rgb(149, 108, 221); */
    margin-top: 50px;
    text-align: center;
}

footer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main p, p1 {
    color: grey;
}
    
hr {
    height: 0.5px;
    background-color: black;
}