@media screen and (max-width: 1175px) {
    body, header, section, main, footer {
        display: block;
        margin: auto;
    }

    body, section, main, footer {
    width: min-content;
    margin: auto;
}

.container nav li {
    margin: 30px;
    font-weight: bold;
    display: inline;
    font-size: 18px;
}

.logo {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headline img {
    width: 850px;
    height: auto;
}

.headline p {
    box-sizing: border-box;
    float: right;
    width:  540px;
}

.sub-image {
    width: 400px;
    height: auto;
}

.ad {
    width: 850px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: none;
}

footer img {
    width: 250px;
    height: auto;
    margin-top: 30px;
}

footer {
    width: 100%;
}

.sub-topic-1, .sub-topic-3, .sub-topic-5 {
    display: block;
    float: left;
    margin-left: -50px;
}

.sub-topic-2, .sub-topic-4, .sub-topic- {
    display: block;
    float: right;
}


.sub-topic-3 {
    float: left;
    margin-top: 10px;
    margin-left: -449px;
    width: 450px;
}

.sub-topic-5 {
    float: left;
    margin-top: 100px;
    margin-left: -450px;
    margin-bottom: 0px;
    width: 450px;
}

.sub-topic-4 {
    float: right;
    margin-top: -104px;
    margin-right: -20px;
    width: 450px;
}

.sub-topic-4 hr, .sub-topic-6 hr {
    margin-right: 20px;
}

.sub-topic-6 {
    float: right;
    margin-top: -1px;
    margin-right: -20px;
    margin-bottom: 0px;
    width: 450px;
}

a:hover {
    color: rgb(109, 85, 206);
}  


}